<!-- -*- mode: XML -*- -->
<launch>

  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <let if="$(var debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <let unless="$(var debug)" name="launch_prefix" value="" />

  <!-- Ackermann to VESC node -->
  <node pkg="vesc_ackermann" exec="ackermann_to_vesc_node" name="ackermann_to_vesc_node"
        output="screen" launch-prefix="$(var launch_prefix)" >
  </node>

</launch>
