<!-- -*- mode: XML -*- -->
<launch>

  <arg name="node_name" default="vesc_driver_nodelet" />
  <arg name="start_manager" default="true" />
  <arg name="manager" default="vesc_nodelet_manager" />

  <!-- Optionally launch manager in GDB, for debugging -->
  <arg name="debug" default="false" />
  <let if="$(var debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <let unless="$(var debug)" name="launch_prefix" value="" />
  <!-- Worker threads -->
  <arg name="num_worker_threads" default="4" />

  <!-- VESC driver parameters -->
  <arg name="port" default="/dev/ttyUSB0" />
  
  <!-- Also globally disable bond heartbeat timeout in debug mode, so everything
       doesn't die when you hit a break point -->
  <!-- <param if="$(var debug)" name="/bond_disable_heartbeat_timeout" value="true" /> -->

  <!-- Nodelet manager -->
  <node if="$(var start_manager)" pkg="nodelet" exec="nodelet" name="$(var manager)"
        args="manager" output="screen" launch-prefix="$(var launch_prefix)">
     <param if="$(var debug)" name="/bond_disable_heartbeat_timeout" value="true" />
     <param name="num_worker_threads" value="$(var num_worker_threads)" />
  </node>

  <!-- VESC driver nodelet -->
  <node pkg="nodelet" exec="nodelet" name="$(var node_name)"
        args="load vesc_driver::VescDriverNodelet $(var manager)" >
    <param if="$(var debug)" name="/bond_disable_heartbeat_timeout" value="true" />
    <param name="port" value="$(var port)" />
  </node>    

</launch>
