<!-- -*- mode: XML -*- -->
<launch>

  <arg name="node_name" default="vesc_driver_node" />

  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <let if="$(var debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <let unless="$(var debug)" name="launch_prefix" value="" />

  <!-- VESC driver parameters -->
  <arg name="port" default="/dev/ttyUSB0" />

  <!-- VESC driver node -->
  <node pkg="vesc_driver" exec="vesc_driver_node" name="$(var node_name)"
        output="screen" launch-prefix="$(var launch_prefix)" >
    <param name="port" value="$(var port)" />
  </node>

</launch>
