<!-- -*- mode: XML -*- -->
<launch>
  <arg name="racecar_version" default="racecar-v2" />
  <arg name="run_camera" default="false"/>

  <group>
    <include file="$(find-pkg-prefix racecar)/launch/includes/$(var racecar_version)-teleop.launch.xml">
      <let name="racecar_version" value="$(var racecar_version)" />
      <let name="run_camera" value="$(var run_camera)" />
    </include>
  </group>

</launch>
